body{
  background: #000066;font-size:100%;font-family:'Open-Sans',sans-serif; font-weight:bold; margin: 0px; 
  overflow-x: hidden; position: relative;
  }

.title{
	margin: 10px auto;
	font-size: 30px;
	font-weight: bold;
	color: white;
	text-align: center;
}	
  
.description{
	margin: 5px auto;
	text-align: center;
}	
  
.chatField{
	height: 645px;
	width: 500px;
	background: #FFB897;
    margin: 20px auto;
    border: 3px solid #FFFFFF;
    padding: 10px;
	box-shadow: 0 0 15px white;
	font-size: 15px;
}

sup{
	font-weight: normal;
	color: #555555;
}
